<main class="container">
  <section class="top">
    <header>
      <h3>Todo-App</h3>
    </header>
  </section>
  <section class="task__list">
    <aside class="tasks">
      <ul *ngFor="let task of tasks">
        <app-task-item [edit]="edit" [task]="task"></app-task-item>
      </ul>
    </aside>
    <aside class="actions">
      <div class="button-class" *ngFor="let task of tasks; let id = index">
        <button class="btn" (click)="editTask(task)">edit</button>
        <button class="btn" (click)="removeTask(task)">delete</button>
      </div>
    </aside>
  </section>
</main>
