.top {
  display: flex;
  justify-content: center;
}

header > h3 {
  font-size: 3rem;
  position: relative;
  margin: 0rem;
  margin-bottom: 1rem;
}

h3::after {
  content: "";
  position: absolute;
  height: 0.5rem;
  width: 10rem;
  display: block;
  background-color: aqua;
}

h3::before {
  content: "";
  position: absolute;
  display: block;
  height: 4rem;
  width: 0.5rem;
  background-color: aquamarine;
}

.top {
  margin-bottom: 2rem;
}

.task__list {
  display: flex;
  background-color: #faf9f6;
  color: #2e2e2e;
  border: 1px dashed rgb(139, 64, 10);
  border-radius: 3px;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 5px 10px;
}

.task__list .tasks {
  width: 60%;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
}

.task__list .actions {
  width: 40%;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  align-items: center;
  justify-content: space-evenly;
}

.button-class {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
